@import url('reset.css');

/*     G L O B A L    */
body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    display: inline-block;
    color: #fff;
    background: #2196F3;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 6%;
    text-align: center;
    border: 0;
    text-decoration: none;
    padding: 17px;
    min-width: 200px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #0f60a1;
}

/*     H E A D E R    */
.header {
    padding: 25px 0;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}

.header-nav,
.header-info {
    display: flex;
    gap: 50px;
}

.header-nav a {
    color: #212121;
    text-decoration: none;
}

.header-info {
    margin-left: auto;
}

.header-info a {
    color: #757575;
    text-decoration: none;
}

.header-info a:hover,
.header-nav a:hover,
.footer-info a:hover {
    color: #2196F3;
}

.header-nav a.active {
    color: #2196F3;
}

/*     H E R O    */
.hero {
    min-height: 600px;
    color: #fff;
     /* if you want to use this line, you have to uncomment .hero::before block */
    /* background: #2F303A url('../img/p1-main-img1.png') no-repeat 50%/cover; */
    
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/p1-main-img1.png') no-repeat 50%/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
} */

.hero-box {
    text-align: center;
    max-width: 696px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.hero-title {
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    letter-spacing: 6%;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about {
    padding: 94px 0;
}

.about-cards {
    display: flex;
    gap: 30px;
}

.about-card {
    position: relative;
    padding-top: 150px;
    width: 270px;
}

.about-card:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA url('../img/p1-pict1.svg') no-repeat 50%/70px;
}

.about-card:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA url('../img/p1-pict2.svg') no-repeat 50%/70px;
}

.about-card:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA url('../img/p1-pict3.svg') no-repeat 50%/70px;
}

.about-card:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA url('../img/p1-pict4.svg') no-repeat 50%/70px;
}

.about-card-title {
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
}

.do,
.team,
.portfolio {
    padding-bottom: 94px;
}

.do-cards {
    display: flex;
    gap: 30px;
}

.do-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.do-card {
    height: 294px;
    overflow: hidden;
    border: 3px solid transparent;
    position: relative;
}

.do-card:hover {
    border-color:#2196F3;
    background-color: #bfbec3;
    cursor: pointer;
}

.do-card-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 27px 10px;
    background: #2F303ACC;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
}

.do-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team-cards {
    display: flex;
    gap: 30px;
}

.team-card {
    border: 1px dotted #757575;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px 0 #00000033;
}

.team-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: 3px solid transparent;
 }

 .team-card img:hover {
    cursor: pointer;
 }

 .team-card-pad {
    padding: 30px 0;
    background-color: #FFFFFF;
 }

.team-card-name {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #212121;
    margin-bottom: 10px;
}

.team-card-name {
    cursor: pointer;
}

.team-card-jobtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 16px;
    color: #757575;
}

.team-card-pad-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-card-pad-social-li {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.team-card-pad-social-li a {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.team-card-pad-social-li svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 0.4s linear;
}

.team-card-pad-social-li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #2196F3;
    transition: all 0.4s linear;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.team-card-pad-social-li a:hover::before {
    width: 100%;
    height: 100%;
}

.team-card-pad-social-li:hover svg {
    fill: #FFFFFF;
}

/* C U S T O M E R S */

.customers {
    background-color: #FFFFFF;
    padding: 94px 0;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    padding-bottom: 50px;
    text-align: center;
    color: #212121;    
}
.hidden {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -5;
}

.customers-cards ul {
    display: flex;
    gap: 30px;
}

.customer-card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 16%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    box-sizing: border-box;
}

.customer-card::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    /* поставив border 2px, бо з 1pxs анімацію майже не помітно */
    border: 2px solid #2196F3;
    border-radius: 4px;
    box-sizing: border-box;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); 
    transition: clip-path 0.7s linear;
}

.customer-card:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.customer-card a,
.customer-card svg {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
    transition: fill 0.7s linear;
}

.customer-card:hover svg {
    fill: #2196F3;
    transition: fill 0.7s linear;
}


  /* F O O T E R */
.footer {
    padding: 60px 0;
    background: #2F303A;
}

.footer-container {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    gap: 70px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-addr {
    color: #FFFFFF;
}

.footer-info a {
    color: #FFFFFF99;
    text-decoration: none;
    gap: 9px;
}

.footer-social {
    padding-top: 12px;
}

.footer-social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer-social-icons {
    display: flex;
    gap: 10px;
    /* height: 44px; */
}

.footer-social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-social-li a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    transition: all 0.5s linear;
}

.footer-social-li svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.footer-social-li:hover a {
    background-color: #2196F3;
    transition: all 0.5s linear;
}

 /* now icons are svg, not background
.footer-social-li:nth-child(1) a {
    background: #FFFFFF1A url('../img/logo-instagram-1-white.svg') no-repeat 50% / 20px;
}

.footer-social-li:nth-child(2) a {
    background: #FFFFFF1A url('../img/logo-twitter-1-white.svg') no-repeat 50%/20px;
}

.footer-social-li:nth-child(3) a {
    background: #FFFFFF1A url('../img/logo-facebook-1-white.svg') no-repeat 50%/20px;
}

.footer-social-li:nth-child(4) a {
    background: #FFFFFF1A url('../img/logo-linkedin-1-white.svg') no-repeat 50%/20px;
} */


  /* P O R T F O L I O */
.portfolio-filters {
    display: flex;
    padding-top: 94px;
    padding-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.portfolio-filters-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 6px 27px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.portfolio-filters-btn.active {
    color: #FFFFFF;
    background: #2196F3;
}

.portfolio-filters-btn:hover {
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
}

.portfolio-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.portfolio-card {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
}

.portfolio-card-image {
    height: 294px;
    position: relative;
}

.portfolio-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-hidden-part {
    background: #2196F3E5;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    inset: 0;
    align-items: center;
    padding: 24px;
    display: none;
}

.portfolio-card:hover {
    border-color:#EEEEEE;
    box-shadow: 1px 4px 6px 0 #00000033;
    cursor: pointer;
}

.portfolio-card:hover .portfolio-card-hidden-part {
    display: flex;
}

.portfolio-card-pad {
    padding: 20px 24px;
}

.portfolio-card-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #212121;
    margin-bottom: 4px;
}

.portfolio-card-filter {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

.contacts {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 70px;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.header-filters,
.header-filters-menu {
    position: relative;
}

.header-filters-list {
	position: absolute;
	top: 100%;
	left: 0;
    padding: 15px 0 0;
	/* display: none; */
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    background-color: #F5F4FA;
    transition: all 0.5s linear;
}

.header-filters:hover .header-filters-list{
	display: block;
    border-color:#EEEEEE;
    box-shadow: 1px 4px 6px 0 #00000033;
    width: 150px;
    transition: all 0.5s linear;
}

.header-filters-menu,
.header-filters-submenu {
    padding: 10px 20px;
}

.header-filters-menu > ul {
	position: absolute;
	top: 0;
	right: 100%;
	padding: 15px 0 0;
	display: none;
    background-color: #F5F4FA;
    z-index: 5;
    white-space: nowrap;
}

.header-filters-menu:hover > ul {
	display: block;
    border-color:#EEEEEE;
    box-shadow: 1px 4px 6px 0 #00000033;
}

/* ----------------------------------------------------------------------------------------------------------------- */

.more-info {
    position: relative;
    z-index: 1;
}

.more-info .contacts-info {
    position: absolute;
    /* display: none; */
	top: 100%;
	left: 20%;
    height: 0;
    line-height: 30px;
    overflow: hidden;
    padding: 0 15px;
    background-color: #F5F4FA;
    border-color:#EEEEEE;
    box-shadow: 1px 4px 6px 0 #00000033;
    white-space: nowrap;
    transition: all 0.5s linear;
}

.more-info:hover .contacts-info {
	/* display: block; */
    height: 150px;
    padding: 15px 15px;
    transition: all 0.5s linear;
}

/* --------------------------------  BURGER ------------------------------------------ */

.burger {
	width: 34px;
	height: 20px;
    color: #2196F3;
    background-color: transparent;
	position: absolute;
	top: 30px;
	left: 15px;
	cursor: pointer;
    z-index: 15;
}

.burger::before,
.burger::after,
.burger span {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: #2196F3;
}

.burger::after {
	top: auto;
	bottom: 0;
}

.burger span {
	top: 50%;
	margin-top: -2px;
}

.left-panel {
    position: fixed;
	top: 0;
    bottom: 0;
	left: 0;
    width: 300px;
	padding: 50px 20px;
    font-size: 20px;
    line-height: 36px;
    background-color: #ccc;
	display: none;
    z-index: 5;
}

.burger:hover+.left-panel,
.left-panel:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------------------  L O G I N ------------------------------------------ */

.login-wrapper {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                url('../img/login-bgd.png') no-repeat center/cover;
}

.login-container {
    margin-left: auto;
    width: 496px;
    height: 100%;
    background-color: rgba(233, 233, 233, 0.45);
    backdrop-filter: blur(10px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-subcont {
    margin: auto 0;
    padding: 60px 0;
    width: 340px;
    text-align: center;
    flex-shrink: 0;
}

.login-switch {
    border: 1px solid #325480;
    height: 36px;
    border-radius: 30px;
    border-width: 1px;
    display: flex;
}

/* .login-switch-input {

} */

.login-switch-label {
    display: flex;
    height: 32px;
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.login-switch-label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-switch-label::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 32px;
    top: 1px;
    left: 1px;
    border-radius: 30px;
    background-color: #325480;
    transition: all 0.3s linear;
}

.login-switch-input:checked+.login-switch-label::before {
    transform: translateX(-100%);
    left: calc(100% - 1px);
}

.login-form-btn-wide {
    height: 36px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    background-color: #325480;
    margin: 30px 0;
    border-radius: 30px;
}

.login-form {
    text-align: center;
}

.login-form input[type=email],
.login-form input[type=password] {
    background-color: #7C7C7C;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 30px;
    border: 0;
    height: 44px;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 15px;
}

.login-form input::placeholder {
    color: #FFFFFF;    
}

.login-form-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    padding: 75px 0 29px;
}

.login-form-forgot {
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.login-form-remember-check {
    text-align: left;
}

.login-form-remember-label {
    padding-left: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #325480;
}

.login-form-remember-label::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #325480;
    border-radius: 2px;
}

.login-form-remember-check:checked+.login-form-remember-label::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 5px;
    width: 6px;
    height: 12px;
    border-bottom: 2px solid #325480;
    border-right: 2px solid #325480;
    transform: rotate(38deg);
}

.login-social-icons {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

.login-social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login-register {
    padding: 5px 60px 35px;
    display: flex;
    justify-content: space-between;
}

.login-form-remember-line {
    display: flex;
    justify-content: space-between;
}

.login-register-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    color: #325480;
}

.login-register-link {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.login-social-li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.4s linear;
}

.login-social-li svg {
    width: 20px;
    height: 20px;
    fill: #325480;
}

.login-social-li:hover a,
.login-social-li:hover svg {
    fill: #FFFFFF;
    background-color: #325480;
    transition: all 0.3s linear;
}

.login-login {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #325480;
}